.container{
    border: 5px solid black;
    padding: 10px;
}

.container-fluid{
    border: 5px solid black;
    padding: 10px;
}

.col{
    border: 5px solid red;
}

.col-1{
    border: 5px solid red;
}
.col-4{
    border: 5px solid red;
}
.col-5{
    border: 5px solid red;
}
.col-7{
    border: 5px solid red;
}
.col-8{
    border: 5px solid red;
}